.Form {
  width: 32.5rem;
  text-align: left;
}

.Form-input-container {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  background: #fff;
  font-size: 1.125rem;
}

.Form-input {
  width: 100%;
}

.Form-input-text {
  height: 5rem;
}
