.Home {
  text-align: center;
}

.Home-logo {
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 8.25rem;
  padding: 1.25rem;
  color: white;
}

.Home-intro {
  font-size: large;
}
