.Item {
  display: flex;
  margin-bottom: 0.125rem;
  background-color: #fff;
  padding: 0.5rem;
}

.Item:hover {
  background-color: #F8F8F8;
}

.Item:last-of-type {
  margin-bottom: 0rem;
}

.Item-index {
  width: 2rem;
  margin: 0rem 1rem;
  color: #c6c6c6;
  line-height: 3rem;
}

.Item-content {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.Item-sub-content {
  border: 1px solid #369;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  max-width: 48rem;
  order: 2;
  margin-right: 10rem;
}

.Item-sub-content--no-index {
  order: 1;
}

.Item-button-container {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  min-height: 1.5rem;
}

.Item-button {
  margin-right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
}

.Item-time-submitted {
  color: #888;
  font-size: 0.75rem;
}

.Item-footer {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0.5rem;
  order: 1;
}

.Item-footer--no-index {
  order: 2;
}

.Item-footer-link {
  color: #888;
  margin-right: 0.5rem;
  cursor: pointer;
}
