.Item {
  display: flex;
  margin-bottom: 0.125rem;
  min-height: 4.5rem;
  background-color: #fff;
  padding: 0.5rem;
}

.Item:hover {
  background-color: #F8F8F8;
}

.Item:last-of-type {
  margin-bottom: 0rem;
}

.Item-index {
  width: 2rem;
  margin: 0rem 1rem;
}

.Item-content-container {
  flex: 1;
  text-align: left;
  margin: 0rem 5rem 0rem 1rem
}

.Item-main-content {
  min-height: 4.5rem;
}

.Item-sub-content {
  border: 1px solid #369;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.Item-button {
  margin-top: 0.25rem;
}
